<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
	<body>
		<section th:fragment="header" class="header-top-area">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="left-msg pull-left">
						<h6>Miễn phí ship cho đơn hàng từ 300,000 VND</h6>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="languages-block-top curency col-md-6">
							<div class="current">
								<span>Ngôn ngữ</span>
								<i class="fa fa-angle-down"></i>
							</div>
							<ul class="first-languages toggle-content">
								<li><a href="#">Tiếng Việt</a></li>
								<li><a href="#">Tiếng Anh</a></li>
								<li><a href="#">Tiếng Trung</a></li>
							</ul>
						</div>
						<div class="col-md-6" sec:authorize="isAnonymous()">
							<div class="row">
								<div class="col-md-12">
									<span ><a th:href="@{/api/v1/user/login}">Đăng nhập</a></span>
								</div>
							</div>
						</div>
						<div class="col-md-6" sec:authorize="isAuthenticated()">
							<div class="row">
								<div class="col-md-6">
									<span><a href="#" sec:authentication="name"></a></span>
								</div>
								<div class="col-md-6">
									<form th:action="@{/api/v1/user/logout}" method="post">
										<input type="submit" value="Đăng xuất">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</body>
</html>